@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --text: #1d1d1d;
  --text-h: #08060d;
  --bg: #efefef;
  --primary-4-light-5: #efff0d;
  --primary-5-light-5: #ff0d76;
  --primary-6-light-5: #1dffcf;
  --secondary-1-light-5: #0d70ff;
  --monochrome-1-light-5: #0d0d0d;
  --link-btn: var(--primary-5-light-5);
  --border: #e5e4e7;
  --code-bg: #f4f3ec; 
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "Inter", system-ui, sans-serif;
  --heading: "Inter", system-ui, sans-serif;
  --mono: "JetBrains Mono", monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

  /* tab */
  --tab-border: #9f9fa9;
  --tab-text: #9f9fa9;
  
  --tab-hover-border: var(--monochrome-1-light-5) ;
  --tab-hover-text: var(--monochrome-1-light-5)
  
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
:root.dark{
  --color-borderColor: #181818;
    --text: #d8d8d8;
    --text-h: #f3f4f6;
    --bg: #181818;
    --border: #2e303a;
    --code-bg: #1f2028;
    --primary-4-light-5: #efff0d;
    --primary-5-light-5: #ff0d76;
    --primary-6-light-5: #1dffcf;
    --secondary-1-light-5: #0d70ff;
    --monochrome-1-light-5: #0d0d0d;
    --link-btn: var(--primary-6-light-5);
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

    --input-text-color: #d8d8d8;
    --input-bg-color: #2e2e2e;
}

@layer components {

  /* Input style */
  textarea,
  input[type="text"],
  input[type="number"] {
    @apply block w-full rounded-sm border border-slate-300 dark:border-zinc-800 dark:focus:border-zinc-900 px-3 py-2;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
  };

  /* Tab */
  .tab{
    border-bottom: transparent;
    color:var(--tab-text)
  }
.tabActive{
  border-bottom: var(--tab-border-b);
  color:var(--tab-border-b);
  pointer-events: none;}

  .tab:hover{
  border-bottom: transparent;;
  color: var(--tab-hover-text)
}

  /* Label style */
  label {
    @apply block text-sm/6 font-medium;
  };

  /* button style */
  button {
    @apply px-3 py-1.5 text-base my-2 block text-white cursor-pointer;
  };

  .btn {
    @apply bg-sky-500
  };

  .edit-btn {
    @apply bg-orange-400
  };

  .delete-btn {
    @apply bg-red-400
  };
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--link-btn);
  transition: all 0.3s ease-in-out;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  text-transform: capitalize;
  font-size: 1.85rem;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 1rem;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}