$primary: #199FDB; 
$secondary: #E8C100;
$pageBody:#1E1E1E;
$pageFontColor:#e1e1e1;
$white: #ffffff;
$black: #000000;
$dropdown: $black;
$subscribe: #468AC9;
$unsubscribe: lighten($black, 24%);
$componentTitle: lighten($black, 13%);
$mailListHwr: #2A5379;
$error: #CC0000;
$tempTitle:lighten($black, 13.9%);

//form
$buttonColor: #333333;


// menu colors
$navTitle: #6B6B6B;
$navText: #6B6B6B;
$navTextHvr: #468AC9;
$navActive: #468AC9;
$navbarWidth: 251px;
$navbarBrd: #D6D6D6;
